body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.small-field {
    display:table-cell;
    max-width:48%;
}



.bigTable tr {
    border: 1px solid #000;
    background-color: rgba(255,255,255,0.6);
    font-weight: bold;
}

.no-close .ui-dialog-titlebar {
    display: none;
}
.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #aaaaaa;
}
button {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right:6px;
    min-width:30px
}

.bigTable tr:nth-child(5) td {
    background-color: rgba(204,229,255,0.6) !important;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #555;
    }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


.main {
    color: azure;
    background-color: rgba(0,0,0,0.6);
}
