@model IEnumerable<BettingSiteNet.Models.Tournament>

@{
    ViewBag.Title = "Tournaments";
}

<h2>Tournaments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.HasUserJoinedTournament)
                {
                    @Html.ActionLink("View", "Tournament", new { id = item.Id, isInTournament = true })

                }
                else
                {
                    @Html.ActionLink("Join", "Tournament", new { id = item.Id, isInTournament = false })
                }
            </td>
        </tr>
    }

</table>
